<mat-card>
  <span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span><a routerLink="home">Home</a></span>
      </button>
      <button mat-menu-item>
        <mat-icon>list</mat-icon>
        <span><a routerLink="accounts">Account list</a></span>
      </button>
    </mat-menu>

    <span class="bitcoin-box"  *ngIf="rate > 0">
      <img class="bitcoin-image" src="../assets/images/bitcoin-btc-logo.png" alt="bitcoin price" />
      <span class="bitcoin-rate"  > ${{rate }}</span>
    </span>
  </span>
</mat-card>



<router-outlet></router-outlet>